.App {
  font-family: sans-serif;
  text-align: center;
}

.FormPreviewContainer {
  display: flex; /* Use flex display */
  gap: 20px; /* Add some gap between the two components */
}

.formContainer {
  display: flex;
  flex-direction: column;
}

.formContainer label {
  margin-bottom: 4px;
}

.formContainer input {
  margin-bottom: 8px;
}

.formDataContainer {
  margin-left: 20px;
  margin-bottom: 0px;
}

.formDataContainer p {
  margin-top: 0px;
  margin-bottom: 6px;
}

.formDataContainer :nth-child(odd) {
  margin-bottom: 10px;
}
